@font-face{
    font-family: 'Chronicle-Display-Bold';
    src: url('fonts/ChronicleDisplayBold.otf');
    font-weight: bold;
    font-style: normal;


}

/* image */
.image img{
    display: inline-block;
    max-width: 450px;
    margin:0px;
    height:auto;
    /* position: relative; */
    /* float:right; */
    /* display: inline-block; */
    width:90%;
    /* direction: rtl; */
    border-radius: 50%;
    /* flex-grow: 1; */
}




.flex-container{
    /* margin: 45px 110px 0px 110px; */
    margin:50px;
    display:flex;
    /* justify-content: space-evenly; */
    /* padding-top: 50px; */
    padding:0px;
}

.text{
    
    /* margin-right: 100px; */
    width: 60%;
    
} 

ul{
    list-style-type:none;
}




.title{
    font-size:3em;
    font-family: "Chronicle-Display-Bold",Georgia,serif;
    font-weight: bold;
    
}

#intro{
    font-family: Gotham,Helvetica,Arial,sans-serif;
   
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 1em;
}



