@font-face{
    font-family: 'Chronicle-Display-Bold';
    src: url('fonts/ChronicleDisplayBold.otf');
    font-weight: bold;
    font-style: normal;


}


.flex-container{
    /* margin: 45px 110px 0px 110px; */
    margin:50px;
    display:flex;
    /* justify-content: space-evenly; */
    /* padding-top: 50px; */
    padding:0px;
}

.text{
    
    margin-right: 100px;
    width: 60%;
    
} 

ul{
    list-style-type:none;
}




#name{
    font-size:3em;
    font-family: "Chronicle-Display-Bold",Georgia,serif;
    font-weight: bold;
    
}

#intro{
    font-family: Gotham,Helvetica,Arial,sans-serif;
   
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 1em;
}


p{
    font-size:1.15em;
}

#line{

    display: block;
    margin: 30px 0;
    width: 100px;
    height: 3px;
    background-color: #00b7c7;
}