
#timeline-main-box{

    /* position: absolute; */
    position: relative;
    /* width:0 */
   
  
    /* border-left: solid 1px #00b7c7; */

}
#timeline-main-box::before{
    content: '';
    position: absolute;
    left: calc(50% - 1px);
    height: 100%;
    width: 3px;
    background: #00b7c7;
    /* font-weight: bold; */
    /* top:0; */

}

 #dickinson{
  margin-top: 20px;
  /* width:50%; */
width:500px;
  height:auto;
 float:right;
 z-index:1;
  /* left:100%; */
}


.timeline{
  box-sizing: border-box;
  width:48%;
  display:block;
  clear:both;
}

.timeline:nth-child(odd){
 
    padding-left: 4%;    
}


.timeline:nth-child(even){
  padding-right: 4%; 
}
.timeline:nth-child(2){
    /* display: inline; */
   float:right;

}

/* .timeline-content:before{ */
.timeline:nth-child(odd) > .timeline-content:before{
  content: "";
  position: absolute;
  left:100%;
  top:30px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 20px solid #212325;
  border-bottom: 15px solid transparent;


  }

.timeline:nth-child(even) > .timeline-content:before{
    content: "";
    position: absolute;
    right:100%;
    top:30px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 20px solid #212325;
    border-bottom: 15px solid transparent;
    }

.timeline-content{
  /* display:flex;
  flex-direction:row; */
  position: relative;
  background-color: #222425;
  padding:1.5em;
  border-radius: 10px;
  margin-bottom: 1.5em;
  overflow-wrap: break-word;

}

.timeline-content-right{
  position:relative;
  float:right;
}


.timeline-graduate-icon{
  /* background-image:url(../img/icon/cap.png); */
}

.line-heading-title {
    line-height: 1;
    color: #f2f2f2;
    font-family: Gotham;
    /* font-size: 18px; */
    margin:5px 0 10px;
    font-weight: bold;

   
    text-transform: uppercase;
  }
.line-heading {
    /* text-transform: uppercase; */
    margin: 0;
    padding-bottom: 0.5em;
    line-height: 1em;
    /* font-weight: normal; */
    /* -webkit-transform: translateY(-0.1em); */
    /* -ms-transform: translateY(-0.1em); */
    /* transform: translateY(-0.1em); */
  }


.line-heading-location {
    /* font-size: 0.9em; */
    font-size:1.5em;
    margin-bottom: 10px;
    color:#00b7c7;
    font-family: Gotham;
    /* font-weight: bold; */
  }

.line-heading-duration {
    display: block;
    font-size: 0.8em;
    color: #6f6f6f;
  }

.line-details {
    display: block;
    margin: 0;
    /* padding-bottom: 2em; */
   
  }

.line-details li{
    margin-bottom: 0.5em;
    /* color:firebrick; */
}

#timeFlex{
    /* margin-left:100px; */
    /* margin-right:100px; */
    height:2000px;
    width:100%;
}

#TimelineIn{
    margin:100px;
   
}

#TimelineEv{
    background-color: #214959;
    height:1000px;
    width:100%; 
}


.timeline:last-of-type {
    border-left-color: transparent;
  }

  